*.dll

#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
.idea/.name
.idea/compiler.xml
.idea/copyright/profiles_settings.xml
.idea/libraries/Maven__aopalliance_aopalliance_1_0.xml
.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_annotations_2_5_0.xml
.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_core_2_5_3.xml
.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_databind_2_5_3.xml
.idea/libraries/Maven__commons_logging_commons_logging_1_2.xml
.idea/libraries/Maven__javax_servlet_javax_servlet_api_3_1_0.xml
.idea/libraries/Maven__org_springframework_spring_aop_4_2_0_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_beans_4_2_0_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_context_4_2_0_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_core_4_2_0_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_expression_4_2_0_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_tx_4_2_0_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_web_4_2_0_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_webmvc_4_2_0_RELEASE.xml
.idea/misc.xml
.idea/modules.xml
.idea/sonarIssues.xml
.idea/workspace.xml
target/classes/com/websystique/springmvc/configuration/HelloWorldConfiguration.class
target/classes/com/websystique/springmvc/configuration/HelloWorldInitializer.class
target/classes/com/websystique/springmvc/controller/HelloWorldRestController.class
target/classes/com/websystique/springmvc/model/User.class
target/classes/com/websystique/springmvc/service/UserService.class
target/classes/com/websystique/springmvc/service/UserServiceImpl.class
target/maven-archiver/pom.properties
target/MedicalJournalsRestService.war
target/MedicalJournalsRestService/WEB-INF/classes/com/websystique/springmvc/configuration/HelloWorldConfiguration.class
target/MedicalJournalsRestService/WEB-INF/classes/com/websystique/springmvc/configuration/HelloWorldInitializer.class
target/MedicalJournalsRestService/WEB-INF/classes/com/websystique/springmvc/controller/HelloWorldRestController.class
target/MedicalJournalsRestService/WEB-INF/classes/com/websystique/springmvc/model/User.class
target/MedicalJournalsRestService/WEB-INF/classes/com/websystique/springmvc/service/UserService.class
target/MedicalJournalsRestService/WEB-INF/classes/com/websystique/springmvc/service/UserServiceImpl.class
target/MedicalJournalsRestService/WEB-INF/lib/aopalliance-1.0.jar
target/MedicalJournalsRestService/WEB-INF/lib/commons-logging-1.2.jar
target/MedicalJournalsRestService/WEB-INF/lib/jackson-annotations-2.5.0.jar
target/MedicalJournalsRestService/WEB-INF/lib/jackson-core-2.5.3.jar
target/MedicalJournalsRestService/WEB-INF/lib/jackson-databind-2.5.3.jar
target/MedicalJournalsRestService/WEB-INF/lib/javax.servlet-api-3.1.0.jar
target/MedicalJournalsRestService/WEB-INF/lib/spring-aop-4.2.0.RELEASE.jar
target/MedicalJournalsRestService/WEB-INF/lib/spring-beans-4.2.0.RELEASE.jar
target/MedicalJournalsRestService/WEB-INF/lib/spring-context-4.2.0.RELEASE.jar
target/MedicalJournalsRestService/WEB-INF/lib/spring-core-4.2.0.RELEASE.jar
target/MedicalJournalsRestService/WEB-INF/lib/spring-expression-4.2.0.RELEASE.jar
target/MedicalJournalsRestService/WEB-INF/lib/spring-tx-4.2.0.RELEASE.jar
target/MedicalJournalsRestService/WEB-INF/lib/spring-web-4.2.0.RELEASE.jar
target/MedicalJournalsRestService/WEB-INF/lib/spring-webmvc-4.2.0.RELEASE.jar
target/test-classes/com/websystique/springmvc/SpringRestTestClient.class
